.flashy {
  font-style: italic;
  color: red
}
.best {

  font-style: oblique;
  color: rebeccapurple
}

body {
  outline-color: invert;
  text-align: center;
  background-color: skyblue

}


ul  {
  align-items: center;
  align-content: center;
}
